/* = = = = = = = = = = = = = 
Main
= = = = = = = = = = = = = */
main {
    animation: fade 1.5s 1;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    position: relative;
    z-index: 1;
    width: 90%;
}

@supports (display: grid-lanes) {
    main {
        display: grid-lanes;
        gap: 1.25lh;
        grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
    }
}

@supports not (display: grid-lanes) {
    main {
        columns: 425px;
        column-gap: 1.25lh;
    }
}

@media screen and (min-width: 768px) {
    main {
        margin: 0 0 0 1rem;
    }
}
/* = = = = = = = = = = = = = 
Cards
= = = = = = = = = = = = = */
.card__wrapper {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 0;
    break-inside: avoid;
    padding-bottom: 1rem;
}
@supports (display: grid-lanes) {
    .card__wrapper {
        padding-bottom: 0;
    }
}

.card {
    align-self: start;
    background-color: hsl(var(--color-mid), 1);
    border: 2px solid hsl(var(--color-dark), 1);
    box-shadow: 3px 3px 3px hsl(var(--color-dark), 1);
}
.card.alt {
    background-color: hsl(var(--color-light-2), 1);
}
.card__header {
    background: hsl(var(--color-mid), 1) url("/assets/images/title-bar-ridges-2.png") 0 repeat-x;
    border: none;
    box-shadow: none;
    display: flex;
    flex-grow: 1;
    height: 40px;
    overflow-y: hidden;
    position: relative;
    text-align: center;
}
.card.alt .card__header {
    border-bottom: 2px solid hsl(var(--color-dark), 1);
    box-shadow: 0 2px 2px hsl(var(--color-base), 1);
}
.card__header div.title {
    background-color: hsl(var(--color-mid), 1);
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--font-sans);
    font-size: 1rem;
    margin-left: auto;
    max-width: 50ch;
    overflow: hidden;
    padding: 0 10px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
}
.card__header h3 {
    border: none;
    font-family: var(--font-sans);
    font-size: 1.1rem;
    line-height: 100%;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card__header img {
    height: 38px;
    margin: 0;
    padding: 4px;
    width: 38px;
}
.card__header .icon {
    height: 32px;
    margin-right: 3px;
    padding: 4px 0;
    width: 32px;
}
.card__header img.control {
    background-color: hsl(var(--color-mid), 1);
}
.card__header img.control.expand {
    margin-left: auto;
}
.card__header img.control.collapse {
    display: none;
}
.card__header a.button {
    pointer-events: all !important;
    cursor: pointer !important;
}
.card__header a.button.expand {
    right: 0 !important;
    left: auto !important;
}
.card__content {
    font-size: 1.4rem;
    padding: 1rem;
    padding-bottom: 0;
}
.card__content article {
    background-color: hsl(var(--color-light, 1));  
    border: 2px solid hsl(var(--color-dark, 1));
    position: relative;
    z-index: 50;
}
.card.alt .card__content article {
    background-color: transparent;
    border: none;
    display: flow-root;
    text-align: center;
}
.card__content article::before {
    border-top: 2px solid hsl(var(--color-base));
    border-left: 2px solid hsl(var(--color-base));
    border-right: 2px solid hsl(var(--color-light, 1));
    border-bottom: 2px solid hsl(var(--color-light, 1));
    content: "";
    bottom: 0;
    position: absolute;
    inset: -4px -4px -4px -4px;
}
.card.alt .card__content article::before {
    display: none;
}
.card__content h2 {
    font-size: clamp(2ch, 3ch, 4ch);
    line-height: 100%;
    position: relative;
    z-index: 1;
  }
.card__content .card__meta p {
    font-size: small;
    margin: 0;
    padding-block: 0.5rem;
    text-align: right;
}
.card__content .post__content {
    padding: 1rem;
}

/* = = = = = = = = = = = = = 
Featured Card 
= = = = = = = = = = = = = */
.card.featured .card__content {
    display: grid;
    justify-content: center;
    align-items: center;
}
.card.featured .card__content h1 {
    font-size: 3rem;
}
.card.featured .card__content article {
    overflow-x: hidden;
}
.card.featured .card__content img#mack {
    display: block;
    height: auto;
    margin-inline: auto;
    width: min(40%, 300px);
}

/* = = = = = = = = = = = = = 
Button 
= = = = = = = = = = = = = */
.button {
    background-color: hsl(var(--color-mid), 1); /* Light gray background */
    border: 1px solid hsl(var(--color-dark), 1); /* Slightly darker gray border */
    border-radius: 3px; /* Slightly rounded corners */
    box-shadow:
        0 0 0 1px hsl(var(--color-dark), 1),
        inset -1px -1px 0 1px hsl(var(--color-dark), 0.25), /* Subtle inner shadow */
        inset 1px 1px 0 2px hsl(var(--color-light), 0.5); /* Subtle inner shadow */
    color: hsl(var(--color-dark), 1) !important; /* Dark gray text */
    cursor: pointer; /* Indicate clickable state */
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    font-family: var(--font-sans);
    font-size: .9rem;
    margin-top: .5rem;
    padding: 10px; /* Standard button padding */
    position: relative;
    text-decoration: none;
    width: fit-content;
    z-index: 1;
}
.button:active {
    background-color: hsl(var(--color-mid-2), 1); /* Darker gray on hover */
    box-shadow: 
        0 0 0 1px hsl(var(--color-dark), 1),
        inset 1px 1px 0 1px hsl(var(--color-dark), 0.25), /* Subtle inner shadow */
        inset -1px -1px 0 2px hsl(var(--color-mid), 0.25); /* Subtle inner shadow */
    color: hsl(var(--color-light), 1);
}
.button.primary {
    box-shadow:
        0 0 0 3px hsl(var(--color-mid), 1),
        0 0 0 4px hsl(var(--color-dark), 1),
        0 0 0 2px hsl(var(--color-dark), 1),
        inset -1px -1px 0 1px hsl(var(--color-dark), 0.25), /* Subtle inner shadow */
        inset 1px 1px 0 2px hsl(var(--color-light), 0.5); /* Subtle inner shadow */
}
.button.primary:active {
    box-shadow: 
        0 0 0 3px hsl(var(--color-mid), 1),
        0 0 0 4px hsl(var(--color-dark), 1),
        0 0 0 2px hsl(var(--color-dark), 1),
        inset 1px 1px 0 1px hsl(var(--color-dark), 0.5), /* Subtle inner shadow */
        inset -1px -1px 0 2px hsl(var(--color-light), 0.25); /* Subtle inner shadow */
}
.button > img {
    outline: none !important;
    box-shadow: none !important;
    height: 24px;
    width: 24px;
  }

/* = = = = = = = = = = = = = 
CSS Only Modal Pop-up
= = = = = = = = = = = = = */
.popup {
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.popup:target {
    opacity: 1;
    pointer-events: all;
    z-index: 10000;
}
.popup > div.card {
    animation: appear 3s 1;
    align-self: inherit;
    max-width: 700px;
}

/* Holiday Card Pop-up */
.popup > div.card.christmas {
    align-self: inherit;
    height: 80dvh;
    max-width: 100%;
    overflow-y: hidden;
    width: 75dvw;
}
.popup > div.card.christmas .card__content {
    display: block;
    height: 100%;
    padding: 0;
    position: relative;
}
.popup > div.card.christmas .card__content iframe {
    height: 100%;
    width: 100%;
}
.popup > div.card > section.card__content > article p {
    font-size: 1.2ch;
    text-align: left;
}
div.card > header {
    position: relative;
} 
div.card > header > a.button {
    all: unset;
    background: none !important;
    border: none !important;
    height: 42px;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 42px;
}
div.card > header > img.control.expand,
div.card > header > img.control.collapse {
    opacity: 0;
}
div.card > header > a.button.expand {
    right: 0;
    left: auto;
}
div.card > header > a.button.collapse {
    right: 42px;
    left: auto;
}
div.card > header > .title img {
    object-fit: contain;
    aspect-ratio: 1 / 2;
}

/* = = = = = = = = = = = = = 
Hero Image
= = = = = = = = = = = = = */
.hero-image {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
}
.hero-image img {
    outline: 2px solid hsl(var(--color-dark), 0.75);
    box-shadow: 8px 8px 0 hsl(var(--color-dark), 0.5);
    display: block;
    height: 100%;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
    filter: grayscale(100%);
    pointer-events: all;
}
#slug__post .hero-image img {
    max-height: 400px;
}
.hero-image img.top {
    object-fit: cover;
    object-position: top;
}
.hero-image img.top.tall {
    object-position: center 30%;
}
.hero-image img.bottom {
    object-fit: cover;
    object-position: bottom;
  }
.hero-image img.bottom.tall {
    object-position: center 70%;
}
.hero-image img.middle.tall {
    object-fit: cover;
    object-position: center 80%;
}
.hero-image svg {
    opacity: .75;
    position: absolute;
    top: 2px;
    right: 2px;
    left: 0;
    bottom: 0;
    width: calc( 100% - 2px );
    height: calc( 100% - 2px );
    z-index: 5;
}
.hero-image img,
.hero-image svg {
  transition: all 0.75s ease-in-out;
}
.hero-image a:hover > svg {
  opacity: .5;
}
.hero-image a:hover > img {
  filter: grayscale(0);
}

/* = = = = = = = = = = = = = 
Category Icon
= = = = = = = = = = = = = */
.icon {
    background: transparent url('/assets/images/finder.png') no-repeat 50%;
    background-size: 75%;
}
.icon.filemaker {
    background-image: url('/assets/images/filemaker.png');
}
.icon.sci-fi {
    background-image: url('/assets/images/deathstar-II.png');
}
.icon.retro-gaming {
    background-image: url('/assets/images/playstation.png');
}
.icon.mackdaddy-fun-games {
    background-image: url('/assets/images/mackdaddy-8bit.png');
    filter: drop-shadow(0 1px 0 hsl(var(--color-dark), 1));
}
.icon.coding {
    background-image: url('/assets/images/homepage-builder.png');
}
.icon.comics {
    background-image: url('/assets/images/comic-book.png');
}
.icon.tech {
    background-image: url('/assets/images/macos-x.png');
}
.icon.toys {
    background-image: url('/assets/images/optimus-prime.png');
}
.icon.random-fun {
    background-image: url('/assets/images/rubik.png');
}
.icon.picker {
    background-image: url('/assets/images/hand.png');
}
.icon.christmas {
    background-image: url('/assets/images/christmas-tree.png');
}
.icon.hd {
    background-image: url('/assets/images/hard-drive.png');
}
.icon.mack {
    background-image: url('/assets/images/mack-headshot-8bit-color.png');
}
.icon.web-development {
    background-image: url('/assets/images/homepage-builder.png');
}
.icon.comments {
    background-image: url('/assets/images/sharing.png');
}
/* = = = = = = = = = = = = = 
Avatars
= = = = = = = = = = = = = */
.avatar {
    filter: drop-shadow(5px 5px 0 hsl(var(--color-dark), 0.25));
    float: left;
    margin: 0 2rem 1rem -2rem;
    height: auto;
    width: 50%;
    max-width: 300px;
    object-fit: contain;
    shape-margin: 2rem;
}
.avatar.right {
    float: right;
    margin: 0 -2rem 2rem 2rem;
}

/* = = = = = = = = = = = = = 
Picker List
= = = = = = = = = = = = = */
ul.picker {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100% !important;
    z-index: 10;
  }
  ul.picker > li {
    background-color: hsl(var(--color-dark), 0.05);
    border-bottom: 3px solid hsl(var(--color-light), 1);
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  ul.picker > li:last-of-type {
    border-bottom: none;
  }
  ul.picker li span.icon {
    background-position: cover;
    display: inline-block;
    height: 24px;
    margin-right: 0.5rem;
    width: 24px;
  }
  ul.picker li a {
    align-items: center;
    color: hsl(var(--color-dark), 1);
    cursor: pointer;
    display: flex;
    font-family: var(--font-sans);
    font-size: smaller;
    justify-content: flex-start;
    line-height: 100%;
    margin: 0 !important;
    max-width: 100%;
    padding: 0.5rem 2rem;
    pointer-events: all;
    text-align: left;
    text-decoration: none;
    text-wrap: nowrap;
    width: 100%;
  }
  ul.picker li a:hover {
    background-color: hsl(var(--color-selection), 1);
    color: hsl(var(--color-light), 1);
  }

/* = = = = = = = = = = = = = 
Listicle Styles
= = = = = = = = = = = = = */
section.listicle-item h3 {
    font-size: clamp(2rem, 3rem, 3.5rem);
    text-align: center;
}
section.listicle-item h3 > strong {
    background-color: hsl(var(--color-dark), 1);
    border-radius: 100%;
    color: hsl(var(--color-light), 1);
    display: inline-block;
    font-family: var(--font-serif);
    font-size: clamp(2rem, 2.5rem, 3rem);
    font-weight: bolder;
    margin-right: 0.5rem;
    margin-bottom: -1rem;
    overflow: hidden;
    padding: 0 1.25rem;
    position: relative;
}
section.listicle-item:nth-child(odd) h3 > strong {
    color: hsl(var(--color-light), 1) !important;
    text-shadow: 2px 2px 0 hsl(var(--color-dark), 1);
}
section.listicle-item h3 > :where(em, i) {
    font-size: 1.25ch;
}
section.listicle-item h5 {
    font-size: 1.25ch !important;
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: right;
}
section.listicle-item {
    display: flow-root;
    margin-bottom: 2rem
}
section.listicle-item:last-of-type {
    margin-bottom: 0;
}
section.listicle-item img.primary {
    max-width: 300px !important;
    shape-margin: 1rem;
}
section#content section.listicle-item:nth-child(even) > img.primary {
    float: left;
    margin: 0 1rem 0 1rem;
}
section#content section.listicle-item:nth-child(odd) > img.primary {
    float: right;
    margin: 0 0 1rem 1rem;
}
section#content section.listicle-item img.secondary {
    shape-margin: 1rem;
    shape-outside: circle();
    width: 150px;
}
section#content section.listicle-item:nth-child(even) > img.secondary {
    float: right;
    margin: 0 0 1rem 1rem;
}
section#content section.listicle-item:nth-child(odd) > img.secondary {
    float: left;
    margin: 0 1rem 1rem 0;
}
section#content section.listicle-item:nth-child(odd) h5 {
    text-align: left;
}
section#content section.listicle-item:last-of-type {
    margin-bottom: 0;
}
section#content section.listicle-item:first-of-type {
    margin-top: 2rem;
}

@media screen and (max-width: 600px) {
    section.listicle-item {
        display: flex;
        flex-direction: column;
    }
    section.listicle-item img.primary,
    section.listicle-item img.secondary {
        clear: both;
        display: block;
        float: none !important;
        margin:  0 auto 2rem auto !important;
        width: 100% !important;
    }
    section.listicle-item h5 {
    text-align: right !important;
    }
    section.listicle-item h3 > strong {
        display: block;
        margin: 0 auto 1rem auto;
        width: fit-content;
    }
    .float,
    .float.right,
    img.round {
        display: block;
        float: none;
        margin: 0 auto 2rem auto;
    }
}

/* = = = = = = = = = = = = = 
Animations
= = = = = = = = = = = = = */
@keyframes fade {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    to {
        opacity: 1;
        transform: scale(100%, 100%);
    }
}