---
//  library imports
// import { Image } from "astro:assets";

// data imports
import * as site from "../../data/site.json";

//  layout imports
import Layout from "../../layouts/Layout.astro";

//  component imports

const { author, youtube } = site;

const title = "Holiday Cards";
const description =
  "The Richardson family has a tradition of creating custom holiday cards.";
---

<Layout title={title} description={description} page={title}>
  <main>
    <div class="card__wrapper">
      <div class="card alt featured christmas">
        <header class="card__header">
          <img
            src="/assets/images/title-bar-close.png"
            height="28"
            width="28"
            class="control close"
            alt="Close"
          />
          <div class="title">
            <h3 class="card__title">
              {title}
            </h3>
            <span class="icon christmas">&nbsp;</span>
          </div>
          <img
            src="/assets/images/title-bar-expand.png"
            height="28"
            width="28"
            class="control expand"
          />
          <img
            src="/assets/images/title-bar-collapse.png"
            height="28"
            width="28"
            class="control collapse"
          />
          <a href="/" class="button">&nbsp;</a>
          <a href="/#popup2" class="button expand">&nbsp;</a>
        </header>

        <section class="card__content">
          <iframe src="./holiday-cards.html"></iframe>
        </section>
      </div><!-- end: .card-wrapper -->
    </div>
  </main>

  <style>
    main {
      display: block;
    }
    
    @supports not (display: grid-lanes) {
      main {
        columns: unset;
      }
    }
    div.card.christmas {
      align-self: inherit;
      height: 90dvh;
      max-width: 100%;
      overflow-y: hidden;
      width: 100dvw;
    }
    div.card.christmas .card__content {
      display: block;
      height: 100%;
      padding: 0;
      position: relative;
    }
    div.card.christmas .card__content iframe {
      height: 100%;
      width: 100%;
    }
    .card__header a.button {
      all: unset;
      position: absolute;
      top: 0;
      left: 0;
      height: 36px;
      width: 36px;
    }
    .control.collapse {
      opacity: 0;
    }
  </style>
</Layout>
