---
// data imports
import * as site from "../data/site.json";

interface Props {
  title?: string;
  description?: string;
  author?: string;
}

const { title, description } = Astro.props;
const { version } = site;
const headerTitle = "MackOS";
---

<div class="card__wrapper">
  <div class="card alt featured" id="about">
    <header class="card__header">
      <img
        src="/assets/images/title-bar-close.png"
        height="28"
        width="28"
        class="control close"
        alt="Close"
      />
      <div class="title">
        <h3 class="card__title">{headerTitle} {version}</h3>
        <span class="icon">&nbsp;</span>
      </div>
      <img
        src="/assets/images/title-bar-expand.png"
        height="28"
        width="28"
        class="control expand"
      />
      <img
        src="/assets/images/title-bar-collapse.png"
        height="28"
        width="28"
        class="control collapse"
      />
    </header>

    <section class="card__content">
      <article>
        <img
          src="/assets/images/mack.png"
          alt="Mack"
          class="avatar"
          id="mack"
        />
        <h1>{title ?? "Mack Richardson"}</h1>
        <p>
          I'm <b>{title ?? "Mack Richardson"}</b>. A Filemaker &amp; web
          developer based in North Carolina. I develop applications, websites,
          collect vintage comics and toys, and write all about it right <a
            href="/blog"
            title="Mack Richardson's Blog">here</a
          >.
        </p>
        <p>
          I am currently a Senior Developer for <a
            href="https://www.diamondassets.com"
            title="Diamond Assets"
            aria-label="Diamond Assets"
            target="_blank">Diamond Assets</a
          > and create content about vintage toys and comics at <a
            href="https://www.youtube.com/@mackdaddyfun"
            title="MackDaddy Fun & Games on YouTube"
            target="_blank">MackDaddy Fun & Games</a
          >.
        </p>
        <a href="
            #popup1" class="button primary">About Mack</a>
      </article>
    </section>
  </div>
</div><!-- end: .card-wrapper -->

<style>
  .control {
    opacity: 0;
  }
  .card__content article {
    display: flow-root;
    padding: 1rem;
  }
  .card__content article h1 {
    display: none;
    font-size: clamp(2rem, 3rem, 4rem);
    line-height: 120%;
  }
  .card__content article p {
    font-size: clamp(1.2rem, 1.1rem, 1rem);
    line-height: 150%;
    margin-bottom: 0.5rem !important;
    text-align: left;
  }
  .card__content article p:last-of-type {
    margin-bottom: 1.5rem !important;
  }
  .card__content article .avatar {
    float: left;
    height: auto !important;
    width: 200px !important;
    shape-outside: url("/assets/images/mack.png");
    shape-margin: 1.5rem !important;
  }
  .card__content .button {
    margin-bottom: 1rem;
    margin-inline: auto;
  }
</style>
