---

---

<li id="apple-menu">
    <a href="#" title="Mack Richardson Homepage"
        ><img
            src="/assets/images/mack-headshot-8bit-color-small.png"
            alt=""
            class="home-icon"
        /></a
    >
    <ul class="submenu">
        <!--<li class="info">
          <div class="flex">
            <img src="/assets/images/mack-red.png" class="avatar" />
            👋 Hi! I'm Mack. I'm a Filemaker and Web Developer living the small town
            life in North Carolina.
          </div>
        </li>-->
        <li>
            <a href="#popup1">
                <img
                    src="/assets/images/m-logo.png"
                    alt="About Mack Richardson"
                />
                About Mack Richardson&hellip;
            </a>
        </li>
    </ul>
</li><!-- end: Apple Menu -->
