---
// component imports
import AppleMenu from "./Nav-AppleMenu.astro";
import ContactLinks from "./Nav-ContactLinks.astro";
import CategoryCloud from "./Nav-CategoryCloud.astro";
import SocialShare from "./Nav-SocialShare.astro";
import SpecialLinks from "./Nav-SpecialLinks.astro";

// data imports
import * as site from "../data/site.json";

// utils imports
import { slugify } from "../js/utils";

const { page } = Astro.props;
const { author } = site;
---

<header class="site__header">
  <ul class="site__nav">
    <AppleMenu />
    <li><a href="/" title="Home">Home</a></li>
    <li>
      <a href="#">Contact</a>
      <ul class="submenu">
        <ContactLinks />
      </ul>
    </li><!-- end: Contact -->
    <li>
      <a href="#">Share</a>
      <ul class="submenu">
        <SocialShare />
      </ul>
    </li><!-- end: Share -->
    <li>
      <a href="#">Related</a>
      <ul class="submenu">
        <SpecialLinks />
      </ul>
    </li><!-- end: Related -->
    <li>
      <a href="#">Categories</a>
      <CategoryCloud />
    </li><!-- end: Files -->
    <li>
      <a href="#">Help</a>
      <ul class="submenu">
        <li><a href="#popup4" title="">Privacy Policy</a></li>
        <li><hr /></li>
        <li class="info">
          &copy<script type="text/javascript" is:inline>
            document.write(new Date().getFullYear());
          </script>. {author}. All Rights Reserved.
        </li>
      </ul>
    </li><!-- end: Help -->
    <li id="site-loc">
      <!-- <img src="/assets/images/finder.png" alt=""> -->
      <span class={`icon ${slugify(page)}`}>&nbsp;</span>
      {page}
    </li>
  </ul>
</header>

<style is:global>
  img.filter-green {
    filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(75deg)
      saturate(800%);
  }
  img.filter-gray {
    filter: grayscale(100%);
  }
  header.site__header {
    background-color: hsl(var(--color-base), 1);
    border-bottom: 1px solid hsl(var(--color-dark), 1);
    box-shadow: 0 1px 2px hsl(var(--color-dark), 1);
    display: flex;
    flex-grow: 1;
    font-family: var(--font-sans);
    height: 28px;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 100;
  }
  .site__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 0.9rem;
    height: 100%;
    list-style-position: unset;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .site__nav li {
    align-items: center;
    color: hsl(var(--color-dark), 1);
    display: flex;
    font-size: 0.75rem;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .site__nav a {
    color: hsl(var(--color-dark), 1);
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0 0.5rem;
    text-decoration: none;
    width: 100%;
  }
  .site__nav a:hover,
  .site__nav a:active,
  .site__nav a:focus {
    background-color: hsl(var(--color-selection), 1);
    color: hsl(var(--color-light), 1);
    cursor: pointer;
  }
  .site__nav hr {
    margin: 0;
  }
  .site__nav img {
    height: 16px;
    width: 16px;
  }
  .site__nav li#apple-menu img {
    height: 24px;
    width: 24px;
  }
  .site__nav .menu {
    position: relative;
  }
  .site__nav .submenu {
    background-color: hsl(var(--color-base), 1);
    border: 2px solid hsl(var(--color-dark), 1);
    box-shadow: 0 2px 2px hsl(var(--color-dark), 1);
    font-size: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 99%;
    visibility: hidden;
    z-index: 100;
  }
  .site__nav li#apple-menu .submenu {
    left: 0;
    max-width: 50ch;
  }
  .site__nav li:hover .submenu {
    visibility: visible;
  }
  .site__nav .submenu li {
    padding: 0 !important;
  }
  .site__nav .submenu li.info {
    padding: 0.5rem 1rem !important;
  }
  .site__nav .submenu li a {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  .site__nav .submenu li a img {
    display: block;
    float: left;
    height: 16px;
    margin-right: 0.5rem;
    position: relative;
    width: 16px;
  }
  .site__nav #site-loc {
    align-items: center;
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
    height: 100%;
    margin-left: auto;
    padding: 0 1rem;
    position: relative;
    text-wrap: nowrap;
  }
  #site-loc > img,
  #site-loc > .icon {
    height: 24px !important;
    width: 24px !important;
  }
  #site-loc > .icon {
    background-size: 90%;
  }
  #site-loc::before {
    background: url("/assets/images/dot-separator.png") no-repeat 50%;
    content: "";
    height: 100%;
    position: absolute;
    inset: auto auto auto -10px;
    width: 15px;
  }
  @media only screen and (max-width: 700px) {
    #site-loc {
      opacity: 0;
      width: 0;
    }
  }
</style>
