body {
    background-color: hsl(var(--color-base), 1);
    color: hsl(var(--color-dark), 1);
    font-family: var(--font-sans-alt);
    font-size: 100%;
    height: 100dvh;
    padding-top: 3rem;
    scroll-behavior: smooth;
    width: 100%;
}
body::after {
    background: linear-gradient(
        65deg, 
        hsl(var(--gradient-color), 1) 0%, 
        hsl(var(--gradient-color-2), 1) 50%, 
        hsl(var(--gradient-color-3, 1)) 100%);
    /* background: var(--wallpaper-christmas) no-repeat center center fixed; */
    background-size: cover;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid hsl(var(--color-dark), 0.5);
    box-shadow: 0 1px 0 hsl(var(--color-mid), 1);
    font-size: clamp(1.6rem, 2rem, 2.5rem);
    font-family: var(--font-serif-bold);
    font-weight: normal;
    line-height: 130%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
p {
    font-size: clamp(1rem, 1.1rem, 1.15rem);
    line-height: 160%;
    margin-bottom: 1rem;
    text-wrap: pretty;
}
a {
    color: hsl(var(--color-selection), 1);
    text-decoration: none;
}
:where(p, ul, ol) a {
    text-decoration: underline;
}
:where(h1, h2, h3, h4, h5, h6) a,
a:where(.button) {
    color: hsl(var(--color-dark), 1);
    text-decoration: none;
}
:where(h1, h2, h3, h4, h5, h6).inverted {
    background-color: hsl(var(--color-dark), 1);
    border: none;
    color: hsl(var(--color-light), 1);
    margin-block: 3rem !important;
    padding: 1rem;
    text-align: center;
}
:where(h1, h2, h3, h4, h5, h6) > strong,
:where(h1, h2, h3, h4, h5, h6) > b {
    font-weight: normal;
}
ul,
ol {
    font-size: clamp(1rem, 1.1rem, 1.2rem);
    list-style-position: inside;
    margin: 2rem 0;
    max-width: 100%;
}
li {
    margin-bottom: 1rem;
}
hr {
    border-top: 1px solid hsl(var(--color-dark), .5);
    border-bottom: 1px solid hsl(var(--color-light),1);
    height: 1px;
    width: 100%;
}
b {
        font-weight: 900;
        text-shadow: 1px 1px 0 hsl(var(--color-dark), 0.25);
}
pre {
    font-family: var(--font-mono);
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-wrap: pretty;
    width: 100%;
}
code {
    font-family: var(--font-mono);
    text-wrap: pretty;
}
blockquote {
    border-block: 10px solid hsl(var(--color-dark), 0.25);
    display: block;
    font-family: var(--font-serif);
    font-size: xx-large;
    padding: 2rem 0;
    margin: 2rem 0;
    width: 100%;
}

@media screen and (min-width: 992px) {
    
    blockquote {
        border: none;
        border-left: 10px solid hsl(var(--color-dark), 0.25);
        padding: 2rem;
        margin: 2rem 0;
        width: fit-content;
    }
    blockquote.float {
        float: left;
        margin: 0 2rem 2rem 0;
        width: 50%;
    }
    blockquote.float.right {
        border: none;
        border-right: 10px solid hsl(var(--color-dark), 0.25);
        float: right;
        margin: 0 0 2rem 2rem;
        text-align: right;
        width: 50%;
    }

}